<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>
    <label>Server Name:</label><br>
    <input type="text" class="form-control" [(ngModel)]="newServerName">
    <label>Server Content:</label><br>
    <input type="text" class="form-control" [(ngModel)]="newServerContent">
    <button
      class="btn btn-primary Button"
      (click)="onAddServer()">Add Server</button>
    <button
      class="btn btn-primary"
      (click)="onAddBlueprint()">Add Server Blueprint</button>
  </div>
</div>
